/* Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  width: 414px;
  height: 896px;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents unwanted scrolling */
}
